<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class = "col header text-center">
               <img src="./img/female-engineer.png" class = "logo" />
            </div>
            <div class = "col button-row text-center">
               <img src="./img/facebook-button.png" width = "286" height = "60"/>
            </div>
            <div class = "col button-row text-center">
               <img src="./img/email-button.png" width = "286" height = "60"/>
            </div>
            <div class = "col text-center">
                Already have an account? <strong><a href = "#">Sign in now!</a></strong>
            </div>            
        </section>
    </ion-content>
</ion-view>